{% extends 'base.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/about.css'%}">    
{% endblock %}

{% block title %}
  <title> SkimRead-About us</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 mt-5 wow fadeInUp">
            <div class="about">
            <h2 style="text-align: center;">ABOUT US </h2>
            <p style="color: black; font-size:20px; font-weight:normal;">
            SkimRead is a website created and managed by two of us, Archi Agarwal and Abhishek Mittal. SkimRead is a place where we present our thoughts and opinions with which you can relate or find them interesting. 
            Both of us have been friends from our high school and are fond of reading books, exploring new things and concepts and writing what we feel about it.<br>
            Archi: I reflect my thoughts and ideas from the books I have read and other interesting topics.
            Being a book lover, I have gone through a lot of amazing works of many mind-boggling writers. Through SkimRead, I will present the main concepts of all such works that I have read and try to make a good connection with my Readers. I like to explore stuff related to nature and its amazing creations. I also like watching movies and web series in my leisure time so we can always discuss them here too.
            <br> Abhishek: I firmly believe in putting everyday life on trial and keep learning new things which I come across on daily basis. I have a peer interest in technology and mostly like to explore technical and mathematical stuff and keep learning to build something new. SkimRead is one such creation that happens to be a result of this interest. I like to write content based on what I have experienced in life and understood about it. I like to play cricket and chess that is another area to which we can relate.
            <br>Being from different fields in our interests and skills, we together are a great combination of Technology and Humanities.
            <br>Please feel free to present your views on SkimRead in the Contact section. 
            </p>
        </div>
        </div>
        </div>
    </div>
    <br>
    <!-- Team section -->
    <br>
{% endblock %}